.experiencesCardContainer {
    text-align: center;
}

.experiencesCardH1 {
    font-size: 5.5rem;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: #61dafb;
}

.experiencesCardP {
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
}