@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200&family=Montserrat:wght@800&display=swap');

html {
  scroll-behavior: smooth;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #131313;
  color: white;
  font-family: 'DM Sans', sans-serif;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #131313;
}

::-webkit-scrollbar-thumb {
  background: #2099b7;
}

::-webkit-scrollbar-thumb:hover {
  background: #61dafb;
}
