@keyframes homeH1Starter {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.homeH1 {
  width: 50%;
  position: relative;
  font-size: 4.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  margin-top: 10.5rem;
  animation: homeH1Starter 1s ease-in-out;
  z-index: 2;
}

@keyframes homeImgStarter {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.homeImg {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  animation: homeImgStarter 0.5s ease-in-out;
}

@keyframes homeBtnStarter {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.homeBtn {
  margin-top: 2.5rem;
  border: none;
  border-bottom-color: #2099b7;
  border-bottom-style: solid;
  border-top-color: #61dafb;
  border-top-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
  border-right-width: 2px;
  border-left-width: 1px;
  border-right-style: solid;
  border-left-style: solid;
  position: relative;
  z-index: 2;
  border-radius: 10px 20px;
  padding: 10px 30px;
  background-color: transparent;
  color: white;
  font-size: large;
  cursor: pointer;
  transition: 0.2s;
  animation: homeBtnStarter 1s ease-in-out;
}

.homeBtn:hover {
  border-left-style: solid;
  border-right-style: solid;
  border-left-color: #61dafb;
  border-right-color: #61dafb;
}

@keyframes homeStarter {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.servicesCardContainer {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 10.5rem;
  animation: homeStarter 1s ease-in-out;
}

.homeH2 {
  position: relative;
  z-index: 2;
  font-size: 3.5rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin-top: 10.5rem;
  animation: homeStarter 1s ease-in-out;
}

.homeP {
  position: relative;
  z-index: 2;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 1rem;
  animation: homeStarter 1s ease-in-out;
}

.homeExperienceContainer {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 5.5rem;
  animation: homeStarter 1s ease-in-out;
}

.homeAboutContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10.5em;
  animation: homeStarter 1s ease-in-out;
}

.homeAboutContainer div {
  width: 50vw;
  padding: 2em;
}

.homeAboutContainer img {
  padding: 2em;
  width: 50%;
  height: 100%;
}

.homeAboutH3 {
  margin-top: 1em;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  color: #61dafb;
}

.homeAboutH2 {
  font-family: "Montserrat", sans-serif;
  margin-top: 1em;
}

.homeAboutContainer p {
  margin-top: 1em;
}

.homeReferenceContainer {
  border-top-color: white;
  border-top-style: solid;
  border-top-width: 2px;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-top: 10.5em;
}

.homeReferenceContainer img {
  height: 100%;
  width: 25%;
  padding: 2em;
}

.homeTeamContainer {
  width: 100%;
  margin-top: 10.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeTeamContainer h2 {
  font-family: "Montserrat", sans-serif;
}

.homeTeamContainerGrid {
  margin-top: 1em;
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
}

.homeTeamContainerGrid img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.homeProjectGallery {
  text-align: center;
}

.homeProjectGallery h3 {
  font-family: "Montserrat", sans-serif;
  margin-top: 10.5em;
  color: #61dafb;
}

.homeProjectGallery h1 {
  font-size: 5rem;
  font-family: "Montserrat", sans-serif;
}

.homeProjectGalleryGrid {
  margin-top: 1em;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
}

.homeProjectGalleryGrid img {
  padding: 0.5em;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  transition-duration: 0.2s;
}

.homeProjectGalleryGrid img:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
  cursor: pointer;
}

.homeContact {
  margin-top: 10.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeContact h2 {
  width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #61dafb;
}

.homeContactForm {
  margin-top: 5em;
  display: flex;
  flex-direction: row;
}

.homeContactForm div {
  width: 50%;
}

.homeContactForm div img {
  margin-bottom: 2em;
}

.homeContactForm iframe {
  width: 600px;
  height: 400px;
}

@media only screen and (max-width: 768px) {
  .homeH1 {
    font-size: 2.5rem;
    margin-top: 8rem;
  }

  .servicesCardContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .homeH2 {
    font-size: 2rem;
    margin-top: 8rem;
  }

  .homeExperienceContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .homeAboutContainer {
    flex-direction: column;
  }

  .homeAboutContainer iframe {
    width: 100%;
    height: 400px;
  }

  .homeAboutH2 {
    font-size: 1rem;
  }

  .homeAboutContainer div {
    width: 100%;
    padding: 0;
  }

  .homeAboutContainer img {
    height: 100%;
    width: 100%;
    padding: 0;
  }

  .homeReferenceContainer {
    flex-direction: column;
  }

  .homeReferenceContainer img {
    width: 100%;
    padding: 0;
  }

  .homeTeamContainerGrid {
    grid-template-columns: repeat(1, 1fr);
  }

  .homeProjectGallery h1 {
    font-size: 2.5rem;
  }

  .homeProjectGalleryGrid {
    grid-template-columns: repeat(1, 1fr);
  }

  .homeContactForm {
    flex-direction: column;
  }

  .homeContactForm div {
    width: 100%;
  }

  .homeContactForm iframe {
    margin-top: 2em;
    width: 100%;
    height: 400px;
  }

  .homeAboutContainer iframe {
    width: 100%;
    height:100%
  }
}

@media only screen and (max-width: 1200px) {
  .homeH1{
    width: 100%;
  }
}
