/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/components/ServicesCard/ServicesCard.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.ServicesCard_servicesCard__TKKY3 {
    width: 100%;
    padding: 2.5rem;
    border-radius: 10px;
    background-color: #1a1a1a;
    text-align: center;
}

.ServicesCard_servicesCard__TKKY3 img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

.ServicesCard_servicesCard__TKKY3 h3 {
    margin-top: 1rem;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.ServicesCard_servicesCard__TKKY3 p {
    margin-top: 1rem
}


/*!*****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/components/ExperiencesCard/ExperiencesCard.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************/
.ExperiencesCard_experiencesCardContainer__9OMu0 {
    text-align: center;
}

.ExperiencesCard_experiencesCardH1__bY275 {
    font-size: 5.5rem;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: #61dafb;
}

.ExperiencesCard_experiencesCardP__JwMnK {
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
}
/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/

@keyframes page_homeH1Starter__zLtOy {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.page_homeH1__YkiKP{
  position: relative;
  font-size: 4.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 10.5rem;
  animation: page_homeH1Starter__zLtOy 1s ease-in-out;
  z-index: 2;
}

@keyframes page_homeImgStarter__jezcZ {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.page_homeImg__KMUQd{
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  animation: page_homeImgStarter__jezcZ 0.5s ease-in-out;
}

@keyframes page_homeBtnStarter__qO4KY {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.page_homeBtn__1C56Z {
  margin-top: 2.5rem;
  border: none;
  border-bottom-color: #2099b7;
  border-bottom-style: solid;
  border-top-color: #61dafb;
  border-top-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
  border-right-width: 2px;
  border-left-width: 1px;
  border-right-style: solid;
  border-left-style: solid;
  position: relative;
  z-index: 2;
  border-radius: 10px 20px;
  padding: 10px 30px;
  background-color: transparent;
  color: white;
  font-size: large;
  cursor: pointer;
  transition: 0.2s;
  animation: page_homeBtnStarter__qO4KY 1s ease-in-out;
}

.page_homeBtn__1C56Z:hover {
  border-left-style: solid;
  border-right-style: solid;
  border-left-color: #61dafb;
  border-right-color: #61dafb;
}

@keyframes page_homeStarter__3RgLp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }

}

.page_servicesCardContainer__XL6zQ {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 10.5rem;
  animation: page_homeStarter__3RgLp 1s ease-in-out;
}

.page_homeH2__N38a_ {
  position: relative;
  z-index: 2;
  font-size: 3.5rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  margin-top: 10.5rem;
  animation: page_homeStarter__3RgLp 1s ease-in-out;
}

.page_homeP__LM1tr {
  position: relative;
  z-index: 2;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 1rem;
  animation: page_homeStarter__3RgLp 1s ease-in-out;
}

.page_homeExperienceContainer__79Alk {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 5.5rem;
  animation: page_homeStarter__3RgLp 1s ease-in-out;
}


.page_homeAboutContainer__odjaB {
  display: flex;
  flex-direction: row;
  margin-top: 10.5em;
  animation: page_homeStarter__3RgLp 1s ease-in-out;
}

.page_homeAboutContainer__odjaB div {
  width: 50vw;
  padding: 2em;
}

.page_homeAboutContainer__odjaB img {
  padding: 2em;
  width: 50%;
  height: 100%;
}

.page_homeAboutH3__P1vXw {
  margin-top: 1em;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #61dafb;
}

.page_homeAboutH2__qzy8H {
  font-family: 'Montserrat', sans-serif;
  margin-top: 1em;
}

.page_homeAboutContainer__odjaB p {
  margin-top: 1em;
}

.page_homeReferenceContainer__uEj3f {
  border-top-color: white;
  border-top-style: solid;
  border-top-width: 2px;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-top: 10.5em;
}

.page_homeReferenceContainer__uEj3f img {
  height: 100%;
  width: 25%;
  padding: 2em;
}

.page_homeTeamContainer__7bDcN {
  width: 100%;
  margin-top: 10.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page_homeTeamContainer__7bDcN h2 {
  font-family: 'Montserrat', sans-serif;
}

.page_homeTeamContainerGrid__BxjiE {
  margin-top: 1em;
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
}

.page_homeTeamContainerGrid__BxjiE img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.page_homeProjectGallery___Rh4u {
  text-align: center;
}

.page_homeProjectGallery___Rh4u h3 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 10.5em;
  color: #61dafb;
}

.page_homeProjectGallery___Rh4u h1 {
  font-size: 5rem;
  font-family: 'Montserrat', sans-serif;
}

.page_homeProjectGalleryGrid__oPc5G {
  margin-top: 1em;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
}

.page_homeProjectGalleryGrid__oPc5G img {
  padding: 0.5em;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  transition-duration:  0.2s;
}

.page_homeProjectGalleryGrid__oPc5G img:hover {
  transform: scale(1.1);
  transition-duration:  0.2s;
  cursor: pointer;
}

.page_homeContact__nCK2R {
  margin-top: 10.5em;
}

.page_homeContact__nCK2R h2 {
  width: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #61dafb;
}

.page_homeContactForm__GvyUe {
  border: none;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .page_homeH1__YkiKP{
    font-size: 2.5rem;
    margin-top: 8rem;
  }

  .page_servicesCardContainer__XL6zQ {
    grid-template-columns: repeat(1, 1fr);
  }

  .page_homeH2__N38a_ {
    font-size: 2rem;
    margin-top: 8rem;
  }

  .page_homeExperienceContainer__79Alk {
    grid-template-columns: repeat(1, 1fr);
  }

  .page_homeAboutContainer__odjaB {
    flex-direction: column;
  }

  .page_homeAboutH2__qzy8H {
    font-size: 1rem;
  }

  .page_homeAboutContainer__odjaB div {
    width: 100%;
    padding: 0;
  }

  .page_homeAboutContainer__odjaB img {
    height: 100%;
    width: 100%;
    padding: 0;
  }

  .page_homeReferenceContainer__uEj3f {
    flex-direction: column;
  }

  .page_homeReferenceContainer__uEj3f img {
    width: 100%;
    padding: 0;
  }

  .page_homeTeamContainerGrid__BxjiE {
    grid-template-columns: repeat(1, 1fr);
  }

  .page_homeProjectGallery___Rh4u h1 {
    font-size: 2.5rem;
  }

  .page_homeProjectGalleryGrid__oPc5G {
    grid-template-columns: repeat(1, 1fr);
  }

  .page_homeContactForm__GvyUe {
    height: 1200px;
    width: 100%;
  }

}


